{% load i18n %}

{% block subject %}
{% blocktrans %}AuthorsLens: Password Reset{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your AuthorsLens user account.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://authorslens.netlify.app/{{ url|safe }}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thank you for using our site." %}

{% blocktrans %}AuthorsLens Team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your AuthorsLens user account.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<a href="{{ protocol }}://authorslens.netlify.app/{{ url|safe }}">{{ protocol }}://authorslens.netlify.app/{{ url|safe }}</a>
<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thank you for using our site." %}</p>

<p>{% blocktrans %}AuthorsLens Team{% endblocktrans %}</p>
{% endblock html_body %}