{% load i18n %}

{% block subject %}
{% blocktrans %}AuthorsLens: Password Changed{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your password has been changed successfully!" %}

{% trans "Thank you for using our site." %}

{% blocktrans %}AuthorsLens Team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Your password has been changed successfully!" %}</p>

<p>{% trans "Thank you for using our site." %}</p>

<p>{% blocktrans %}AuthorsLens Team{% endblocktrans %}</p>
{% endblock html_body %}